## Settings file was created by plugin ModManager v0.1.0
## Plugin GUID: com.me.modmanager

[General]

## Toggle Mod Manager window
# Setting type: KeyboardShortcut
# Default value: F8
ToggleWindow = F8

